<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <!-- Stylesheet -->
        <link rel="stylesheet" href="styles.css">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body class="purple-body">
        
        <div class="title">
            <h1>Translator</h1>
        </div>
        <div class="description">
            <p>Here you can test out an AI by sending a message in English, and seeing the message translated to Spanish!</p>
        </div>
        <div class="robot-picture"></div>
        <div class="go-button-conatiner">
            <a href="/message" class="go-button">Lets Go!</a>
        </div>
        
        <div class="go-icon"></div>

    </body>
</html>